langchain
langchain-core
langchain-community
langchain-text-splitters
ipykernel
pypdf
pymupdf
tqdm
unstructured
libmagic
openpyxl
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
# langchain.prompts
# langchain.schema
